body {
    margin: 0;
    color: whitesmoke;
    background-color: bisque;
    font-family: Montserrat;
}
#wrapper {
    margin: 0;
    min-height: 1180px;
    width: 100%;
    height: 100%;
    background: url("img/wrapper-img/background-mod.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
    border-bottom: 1px solid #11162B;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}
#address-and-telephone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
#address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 10vh;
    margin-right: 50px;
    font-size: 13px;
}
#address-image{
    width: 18px;
    height: 25px;
}
#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 10vh;
}
#tel-number-info{
    margin-left: 10px;
}
#telephone {
    font-weight: bold;
    font-size: 20px;
}
#telephone-image {
    display: flex;
    align-content: flex-start;
    width: 22px;
    height: 22px;
}
#work-time {
    font-size: 13px;
}
p {
    margin: 0;
}



#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 30%;
    margin-left: 18.5%;
    margin-top: 8%;
}

#delicious {
    display: flex;
    color: #2E363E;
    background-color: #F2F6FA;
    border-radius: 5px;
    font-size: 11px;
    padding: 10px;
    width: 70px;
    align-items: center;
    justify-content: center;
}

#header-main{
    font-size: 25px;
    font-weight: bold;
}

#header-main h1{
    margin: 10px 0 0 0;
}

#we-will-prepare {
    font-size: 24px;
    margin-top: 20px;
}

#go-to-catalog-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 7%;
}

.button {
    color: #2E363E;
    background-color: #FED84C;
    padding: 30px;
    border: 0;
    border-radius: 8px;
    font-family: Montserrat, serif;
    font-size: 18px;
}
.button:hover {
    transition: background-color 0.3s;
    background-color: bisque;
}
.button:active {
    transition: background-color, color 0.1s;
    background-color: black;
    color: gold;
}

#nine-diff-kinds {
    display: flex;
    font-size: 15px;
    max-width: 40%;
    padding-left: 8%;
}




#catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

#catalog-header {
    font-size: 30px;
    color: #2E363E;
}

#products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 62%;
    max-width: 62%;
    margin-top: 20px;
}

#catalog-header h1{
    font-weight: normal;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 550px;
    margin-bottom: 2%;
    border-radius: 10px;
}
.catalog-item:hover {
    transition: box-shadow 0.3s;
    box-shadow: #081130 0 0 15px 3px;
}

.catalog-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #F2F6FA;
    border-radius: 0 0 10px 10px;
    padding: 30px;
    height: 300px;
}

.catalog-item-name-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 20%;
}

.catalog-item-img {
    width: 100%;
    height: 40%;
    background-size: cover;
}

#img-1 {background-image: url("img/catalog-img/img 1.png");}
#img-2 {background-image: url("img/catalog-img/img 2.png");}
#img-3 {background-image: url("img/catalog-img/img 3.png");}
#img-4 {background-image: url("img/catalog-img/img 4.png");}
#img-5 {background-image: url("img/catalog-img/img 5.png");}
#img-6 {background-image: url("img/catalog-img/img 6.png");}
#img-7 {background-image: url("img/catalog-img/img 7.png");}
#img-8 {background-image: url("img/catalog-img/img 8.png");}
#img-9 {background-image: url("img/catalog-img/img 9.png");}

.catalog-item-name {
    font-weight: bold;
    font-size: 24px;
    color: #2E363E;
    padding-bottom: 10px;
}

.catalog-item-description {
    font-weight: normal;
    font-size: 16px;
    color: #2E363E;
}

.catalog-item-price {
    font-size: 24px;
    color: #434B53;
}




#load-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1000px;
    background-color: #11162B;
}

.top-image {
    margin: 0;
    min-height: 300px;
    width: 100%;
    height: 100%;
    background: url("img/upload-img/top.png") no-repeat top;
    background-size: cover;
    position: relative;
}

.content-telephone-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.telephone-image {
    margin: 0;
    min-height: 1100px;
    width: 55%;
    height: 100%;
    background: url("img/upload-img/telephone.png") no-repeat bottom;
    background-size: cover;
    position: relative;
    top: 300px;
    z-index: 1;
}

.download-photo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.header-main {
    width: 60%;
}
.upload-photo {
    width: 50%;
}

.bottom-image {
    margin: 0;
    min-height: 300px;
    width: 100%;
    height: 100%;
    background: url("img/upload-img/bot.png") no-repeat bottom;
    background-size: cover;
    position: relative;
    z-index: 2;
}















