body {
    margin: 0;
    color: whitesmoke;
    background-color: bisque;
}
#wrapper {
    margin: 0;
    min-height: 1180px;
    width: 100%;
    height: 100%;
    background: url("img/wrapper img/background-mod.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 21px;
}
#address-and-telephone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
#address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 10vh;
    margin-right: 50px;
    font-family: Montserrat;
    font-size: 13px;
}
#address-image{
    width: 18px;
    height: 25px;
}
#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 10vh;
}
#tel-number-info{
    margin-left: 10px;
}
#telephone {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
}
#telephone-image {
    display: flex;
    align-content: flex-start;
    width: 22px;
    height: 22px;
}
#work-time {
    font-family: Montserrat;
    font-size: 13px;
}
p {
    margin: 0;
}



#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 30%;
    margin-left: 18.5%;
    margin-top: 8%;
}

#delicious {
    display: flex;
    color: #2E363E;
    background-color: #F2F6FA;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 11px;
    padding: 10px;
    width: 70px;
    align-items: center;
    justify-content: center;
}

#header-main{
    font-size: 25px;
    font-weight: bold;
    font-family: Montserrat;
}

#header-main h1{
    margin: 10px 0 0 0;
}

#we-will-prepare {
    font-family: Montserrat;
    font-size: 24px;
    margin-top: 20px;
}

#go-to-catalog-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
}

.button {
    color: #2E363E;
    background-color: #FED84C;
    padding: 30px;
    border: 0;
    border-radius: 8px;
    font-family: Montserrat, serif;
    font-size: 18px;
}

.button:hover {
    transition: background-color 0.3s;
    background-color: aqua;
}

#nine-diff-kinds {
    display: flex;
    font-family: Montserrat;
    font-size: 15px;
    padding-left: 20px;
}




#catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

#catalog-header {
    font-family: Montserrat;
    font-size: 30px;
    color: #2E363E;
}
#catalog-header h1{
    font-weight: normal;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 370px;
    height: 500px;
}

.catalog-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    height: 300px;
}

.catalog-item-name-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.catalog-item-img {
    width: 100%;
    height: 40%;
    background-image: url("img/catalog-img/img 1.png");
    border-radius: 10px 10px 0 0;
    background-size: cover;
}

.catalog-item-name {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #2E363E;
}

.catalog-item-description {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    color: #2E363E;
}

.catalog-item-price {
    font-family: Montserrat;
    font-size: 24px;
    color: #434B53;
}









